*{
    margin: 0;
}
.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.poppins{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header{
    width: 1440px;
    height: 729px;
    background-image: url("pictures/headerBack.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header-nav{
    width: 100%;
    display: flex;
    align-items: center ;
    justify-content: center;
    padding-top: 60px;
}
.header-nav2{
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.6;
    margin-right:50px;
}
.header-nav1{
    color: #FF4B32;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    margin-right: 50px;
}
.header-logo{
    color: #FF4B32;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-right: 67px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-nav>.header-logo>img{
    position: relative;
    top:-8px;
}
.header-h1{
    color: #FFF;
    font-family: "Josefin Sans", sans-serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    width: 524px;
    margin-bottom: 26px;
}
.header-p{
    width: 506px;
    color: #FFF;
    font-family: "Open Sans",sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.8;
    margin-bottom: 64px;
}
.header-button{
    width: 148px;
    height: 53px;
    border-radius: 5px;
    background: #FF4B32;
    color: #FFF;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;

}
.header-text{
    margin-left: 182px;
    margin-top: 122px;
}
.first{
    height: 200vh;
    background: gray;
}


.second{
    width: 1440px;
    height: 650px;
    background-image: url("pictures/contactIMG.png");
    /*display: flex;*/
    /*!*flex-direction: column;*!*/
    /*!*justify-content: center; !* Центрує по вертикалі *!*!*/
    /*!*align-items: center; !* Центрує по горизонталі *!*!*/

}
.title{
    color: #FF4B32;
    text-align: center;
    font-size: 24px;
    font-family: "Open Sans";
    margin-bottom: 65px;
    margin-top: 112px;
}
.name{
    color: #FFF;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 43px;
    margin-bottom: 60px;
}
.number {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 24px;
    margin-bottom: 24px;
}
.phone-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background-image: url('pictures/Telephone.png');
    width: 24px;
    height: 24px;
}
.mail{
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 24px;
    margin-bottom: 71px;
}
.mail-icon{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background-image: url('pictures/gmail loogo.png');
    width: 20px;
    height: 15px;
}
.social-networks{
    text-align: center;
}
.social-networks img {
    margin: 0 10px;
}





.third{
    height: 1024px;
    width: 1440px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.page-header{
    text-align: center;
    color: #000;
    font-size: 43px;
    font-family: "Josefin Sans";
    margin-top: 152px;
    margin-bottom: 20px;
}
.text{
    color: #000;
    text-align: center;
    font-size: 18px;
    font-family: "Open Sans";
    margin-bottom: 60px;
}

.box-cards{
    height: 362px;
    width: 1146px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 147px;
}
.one{
    width: 362px;
    height: 536px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 40px 15px 136px 0px rgba(0, 0, 0, 0.20);
}
.two{
    width: 362px;
    height: 536px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 40px 15px 136px 0px rgba(0, 0, 0, 0.20);

}
.free{
    width: 362px;
    height: 536px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 40px 15px 136px 0px rgba(0, 0, 0, 0.20);

}
.---{
    height: 362px;
    width:30px;
    background-color: rgba(245, 222, 179, 0);
}
.cards-one{
    width: 362px;
    height: 300px;
    flex-shrink: 0;
}
.cards-two{
    width: 362px;
    height: 300px;
    flex-shrink: 0;
}
.cards-free{
    width: 362px;
    height: 300px;
    flex-shrink: 0;
}
.box-cards > div:not(:last-child) {
    margin-right: 7px;
}

h2{
    color: #000;
    font-size: 32px;
    text-align: start;
    font-family: "Josefin Sans";
    margin-left: 30px;
    margin-top:30px;
}
.middle{
    color: #000;
    font-size: 16px;
    text-align: start;
    font-family: "Open Sans";
    margin-left: 30px;
    margin-top: 10px;
}
.limb{
    color: #FF4B32;
    font-size: 16px;
    text-align: start;
    margin-left: 30px;
    margin-top: 20px;
    font-family: "Open Sans";
}





footer{
    height: 40vh;
    background-image: url("pictures/footerBack.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 footer>div {
     height: 75%;
     width: 80%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     /*border: 1px solid white;*/
 }
footer>div>ul {
    height: 100%;
    width: 22%;
    /*border: 1px solid white;*/
    margin: 0;
    padding: 0;
}
 footer>div>ul>li{
     color: white;
     font-size: 18px;
     font-family: "Open Sans", sans-serif;
     list-style-type: none;
     margin-bottom: 2vh;
     display: flex;
     justify-content: flex-start;
 }
footer>div>ul>li:first-child{
    margin-top: 7vh;
    font-size: 24px;
}
footer>div>ul>li.footerLogo{
    color: #FF4B32;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-top: 8vh;
}
footer>div>ul>li>svg.footerCoffee{
    margin-top: -3vh;
    margin-right: 2vh;
}
footer>div>ul>li>svg.footerPhone{
    /*margin-bottom: -3vh;*/
    margin-top: 0.5vh;
    margin-right: 2vh;
}
footer>div>ul>li>svg.footerIcons{
    margin-top: 3.5vh;
}
footer>p {
    margin: 0;
    height: 25%;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
}